- content_for :heading do
  .login
    %h2.logo SLIMSCALE
    - if session[:uid].present?
      %div
        = session[:name]
      %div
        = image_tag session[:avatar]
      %div
        = session[:provider]
      %div
        //not sure if we need this image, causing a broken image
        //%img{:src => "/images/authbuttons/png/#{session[:provider]}_32.png"}
      %div
        = link_to "Sign out", sign_out_path, :rel => "external"
    - else
      %div
%div.container
  %div.body
    %div.login
      = link_to image_tag(asset_path("fblarge.png")), "/auth/facebook", :rel => "external"

  